@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    overflow-x: hidden;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .logo {
    width: 300px;
  }

  .nav-bar {
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
    color: #000;
  }

.hero-content {
    margin-top: 0px;
    background-image: url(../assets/garton-2.jpg);
    background-color: #F5F5F5;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        padding: 5px;
        width: 250px;
    }

    p {
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: 'EB Garamond', serif;
        color: #fff;
        font-size: 80px;
        font-weight: 400;
    }
}

.text-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 30px;

    p {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 1.5;
    }
    h3 {
      margin-top: 0px;
    }
}

.line {
  margin-top: 0px;
  margin-bottom: 15px;
  width: 200px;
  height: 6px;
  background-color: #829191;
}

.white {
    background-color: #fff;
}

.color {
    background-color: #F5F5F5;
}

.max {
    max-width: 800px;
}

.full {
    width: 100vw;
}

.flex-box {
  background: #fff;
  display: flex;
  flex-direction: row;
  height: 650px; 
  width: 100vw;
}

.right-image {
  flex: 1;
  background: url(../assets/avellanas-wave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.left-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.left-text {
  text-align: left;
  margin-left: 0px;
  max-width: 800px;
  h5 {
    margin-left: 8px;
    font-weight: 900;
    color: #CCCCCC;
    margin-bottom: 50px;
  }
  h3 {
    margin-top: 0px;
    font-size: 58px;
    line-height: 1.3;
  }
  span {
    font-style: italic;
    color: #2B9EB3;
  }
}

// Left Image //

.left-image {
  flex: 1;
  background: url(../assets/avellanas-drone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.right-text {
  text-align: left;
  margin-left: 0px;
  padding: 100px;
  max-width: 800px;
  h5 {
    margin-left: 8px;
    font-weight: 900;
    color: #CCCCCC;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 58px;
    line-height: 1.3;
  }
  span {
    font-style: italic;
    color: #2B9EB3;
  }
}

// Contact //

.contact {
  h3 {
    font-size: 30px;
  }
  a {
    font-weight: 700;
    color: #829191;
  }
}

// Footer //

.footer {
    margin-top: 0px;
    background-color: #2C423F;
    width: 100%;
    padding: 10px;
    p {
      font-size: 12px;
      font-weight: 300;
      color: #fff;
      letter-spacing: 1px;
    }
  }

@media screen and (max-width: 960px) {

  .flex-box {
    flex-direction: column;
    height: 100vh;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .hero-content {
    img {
      background-color: #000;
    }
  }

}


// Mobile

@media screen and (max-width: 560px) {

.nav-bar {
    justify-content: center;
}

.hero-content {
    height: 80vh;
    p {
        font-size: 55px;
    }
}

.text-row {
    padding: 100px 20px;
}

.left-text {
  padding: 30px;
  h3 {
    font-size: 45px;
  }
}

.right-text {
  padding: 30px;
  h3 {
    font-size: 45px;
  }
}

}