@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    background-color: #2C423F;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    overflow-x: hidden;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .logo {
    width: 300px;
  }

  .nav-bar {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: left;
    padding: 20px;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    font-family: 'EB Garamond', serif;
    color: #000;
  }

.hero-content {
    background-image: url(../assets/garton.png);
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        padding: 5px;
        width: 250px;
        background-color: #2C423F;
    }

    p {
        background-color: #2C423F;
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: 'EB Garamond', serif;
        color: #fff;
        font-size: 80px;
        font-weight: 400;
    }
}

.text-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 20px;

    p {
        text-align: left;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.5;
    }
}

.white {
    background-color: #fff;
}

.color {
    background-color: #F5F5F5;
}

.max {
    max-width: 1000px;
}

.full {
    width: 100vw;
}

// Footer //

.footer {
    margin-top: 0px;
    width: 100%;
    padding: 15px;
    p {
      font-size: 12px;
      font-weight: 300;
      color: #fff;
      letter-spacing: 1px;
    }
  }


// Mobile

@media screen and (max-width: 560px) {

.nav-bar {
    justify-content: center;
}

.hero-content {
    height: 60vh;
    p {
        font-size: 55px;
    }
}

.text-row {
    padding: 100px 20px;
}

}